include MANIFEST.in
include etc/pythia-0.8/color-renderer/colors/dark-bg.odb
include etc/pythia-0.8/color-renderer/colors/light-bg.odb
include etc/pythia-0.8/color-renderer/colors/none.odb
include etc/pythia-0.8/color-renderer/colors/__vault__.odb
include etc/pythia-0.8/color-renderer/__vault__.odb
include etc/pythia-0.8/dark-bg/colors/dark-bg.cfg
include etc/pythia-0.8/dark-bg/colors/__vault__.odb
include etc/pythia-0.8/dark-bg/__vault__.odb
include etc/pythia-0.8/journal/devices/color-console.odb
include etc/pythia-0.8/journal/devices/console.odb
include etc/pythia-0.8/journal/devices/file.odb
include etc/pythia-0.8/journal/devices/remote.odb
include etc/pythia-0.8/journal/devices/__vault__.odb
include etc/pythia-0.8/journal/devices/xterm-color.odb
include etc/pythia-0.8/journal/devices/xterm.odb
include etc/pythia-0.8/journal/__vault__.odb
include etc/pythia-0.8/light-bg/colors/light-bg.cfg
include etc/pythia-0.8/light-bg/colors/__vault__.odb
include etc/pythia-0.8/light-bg/__vault__.odb
include etc/pythia-0.8/shell/hooks/built-in.odb
include etc/pythia-0.8/shell/hooks/current.odb
include etc/pythia-0.8/shell/hooks/ultraTB.odb
include etc/pythia-0.8/shell/hooks/__vault__.odb
include etc/pythia-0.8/shell/__vault__.odb
include etc/pythia-0.8/weaver/mills/c.odb
include etc/pythia-0.8/weaver/mills/csh.odb
include etc/pythia-0.8/weaver/mills/cxx.odb
include etc/pythia-0.8/weaver/mills/f77.odb
include etc/pythia-0.8/weaver/mills/f90.odb
include etc/pythia-0.8/weaver/mills/html.odb
include etc/pythia-0.8/weaver/mills/make.odb
include etc/pythia-0.8/weaver/mills/perl.odb
include etc/pythia-0.8/weaver/mills/python.odb
include etc/pythia-0.8/weaver/mills/sh.odb
include etc/pythia-0.8/weaver/mills/tex.odb
include etc/pythia-0.8/weaver/mills/__vault__.odb
include etc/pythia-0.8/weaver/mills/xml.odb
include etc/pythia-0.8/weaver/__vault__.odb
